/* This page is responsible for the styling of the page */
* {
    box-sizing: border-box;
}

body {
    background-color:  #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

#canvas {
    background: black;
    border-radius: 15px;
}

#blue {
    display:  none;
}

#red {
    display:  none;
}

#ball {
    display:  none;
    border-radius: 50%;
}